# Variables de entorno
.env

# Entorno virtual
venv/

# Archivos de estado locales
state.json
bot_state.json
instructions.json
__pycache__/

# archivo temporal
binancekey.txt

#logs
bot.log
botHist.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/*.tsbuildinfo
frontend/vite.config.d.ts
frontend/vite.config.js
